*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin: auto;
}

.App {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  text-align: center; */
  padding: 100px;
}
body,
.App {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1.15rem;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
}

.trade-gothic-lt-extended-bold-40px {
  font-family: "TradeGothicLTExtendedBold";
  font-size: 40px;
  line-height: 50px;
  color: #112211;
}

.montserrat-semibold {
  font-family: "MontserratSemiBold";
  color: #112211;
}

.montserrat-regular-16px {
  font-family: "MontserratRegular";
  font-size: 16px;
  line-height: 20px;
}
